@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Smooch+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');

.backImg {
    // background-color: #b7dcee;
    // background: #4CA1AF;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #caf0f8, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #caf0f8, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width:  100vw;
    min-height: 100vh;
}
.navbar{
    border-bottom: solid white 4px;
}
.one{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba($color: #ed393c, $alpha: 1.0)  !important;
}
.two{
    color: rgba($color: #0A7373, $alpha: 1.0)  !important;
}
.nav-link, .navbar-collapse{
    font-family: 'Montserrat', sans-serif;
    color: rgba($color:#e7ecef, $alpha: 1.0)  !important;
}
.nav-link:focus{
    font-family: 'Montserrat', sans-serif;
    color: rgba($color: #DE1616, $alpha: 1.0)  !important;
}
.nav-link:hover{
    font-family: 'Montserrat', sans-serif;
    color: rgba($color: #DE1616, $alpha: 1.0)  !important;
}
.navbar-toggler{
    color: rgba($color: #e7ecef, $alpha: 1.0)  !important;
}
.maintexts{
    font-family: 'Source Serif Pro', serif;
    width: 100%;
}
.Maintext1{
    display: inline;
    color: #2a2b2c;
}
.Maintext2{
    display: inline;
    color: #DE1616
}
.Subtext1{
    font-family: 'Montserrat';
    color: #2a2b2c;
}
.undLinePhrase{
    color: #e7ecef;
    text-decoration: underline;
}
.undLinePhrase:hover{
    cursor: pointer;
    color: #e7ecef;
    text-decoration: underline;
}
.Nav-button{
    background-color: #ed393c;
    color: #e7ecef;
}
.navBtnAlign {
    padding-top: 50px;
}

.textContent {
    padding-top: 250px;
}
