
<div class="backImg">
    <div class="pt-3"></div>
    <div class="pageTitle py-2 text-center">
        <h1 class="pageTitleText1 d-inline">All </h1>
        <h1 class="pageTitleText2 d-inline"> Products</h1>
    </div>
    <div class="newNav mt-5">
        <ul class="nav d-flex justify-content-around">
            <li class="nav-item" *ngFor="let item of product_type_records">
                <p class="card-product-type btn" style="color: white;" (click)="selectProductType(item)">{{item["product_type_name"]}}
                </p>
            </li>
        </ul>
    </div>
    <div *ngFor="let item of product_type_records" style="align-items: center;" class="mt-2">
        <div *ngIf="product_type_selected && product_type_key_selected == item['product_type_key']">
            <ul class="nav d-flex flex-wrap mx-auto">
                <li class="nav-item mx-3" *ngFor="let item_l1 of item['children']">
                    <div class="card card-product-l1 m-3" style="align-items: center; max-width: 200px;" (click)="selectProductTypeL1(item_l1)">
                        <img class="card-img-product" src="{{item_l1['product_type_icon']}}" style="height: 100px; width: 100px;" alt="Random first slide">
                        <p>
                            {{item_l1["product_type_name"]}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div *ngFor="let item of product_type_records" class="mt-3">
            <div *ngFor="let item_l1 of item?.['children']">
                <div *ngIf="product_type_l1_selected && product_type_key_l1_selected == item_l1['product_type_key']">
                    <ul class="nav d-flex justify-content-around">
                        <li class="nav-item" *ngFor="let item_l2 of item_l1['children']">
                            <p class="card-product-type-l2 btn px-2 mx-3" style="color: white;"
                                (click)="selectProductTypeL2(item_l2)">{{item_l2["product_type_name"]}}</p>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <div *ngIf="triggerOpenPopup" class="modal modal-center" tabindex="0" role="dialog" class="popup-size">
         <div class="popup-card card d-flex">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                {{selected_product['Name']}}
                <button type="button" style="background-color: transparent; color: black; border-color: transparent;" class="btn btn-sm btn-primary" (click)="closePopup()">x</button>
            </h5>
            <div class="row w-100 m-0 p-0">
                <div class="col">
                        <div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel">
                            <div class="carousel-inner w-100">
                                <!-- <div class="carousel-item" *ngFor="let each_image of selected_product['icon'];let index = index;"
                                [ngClass]="{'active': index == 0 }">
                                    <img [src]="each_image" class="card-img-product" [alt]="each_image"> 
                                    {{selected_product['icon'].length}} {{index}} {{selected_product['Name']}}
                                  </div> -->
                                <!-- <ul *ngFor="let each_image of selected_product['icon'];let i=index; first as isFirst">
                                    <div [ngClass]="isFirst ? 'carousel-item active' : 'carousel-item' ">
                                        <li><img src={{each_image}} class="card-img-product" alt="...">
                                            {{selected_product['icon'].length}} {{i}} {{selected_product['Name']}}
                                        </li>
                                    </div>
                                </ul> -->
                                <a class="carousel-control-prev" data-bs-target="#carouselExampleControls" role="button" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Prev</span>
                                </a>
                                <a class="carousel-control-next" data-bs-target="#carouselExampleControls" role="button" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                        </div>
                </div>
                <div class="col">
                        <div class="card-body flex-column h-100">
                            <div class="prod-info">
                                <h5 class="card-title py-2" style="border-bottom: solid grey 1px;">Product Information</h5>
                                <p class="card-text" *ngFor="let info_item of selected_product['product_info']" >{{info_item["parameter_name"]}}: {{info_item["parameter_value"]}}</p>
                            </div>
                            <div class="prod-desc">
                                <h5 class="card-title">{{selected_product["product_title"]}}</h5>
                                <p class="card-text-desc">{{selected_product["product_description"]}}</p>
                            </div>
                        </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="d-flex flex-wrap pb-5 Listcards">
        <div *ngFor="let item of records">
            <div class="prod-container my-3 mx-4"
                *ngIf="item['product_type'] == product_type_key_selected || item['product_type'] == product_type_key_l1_selected || item['product_type'] == product_type_key_l2_selected || product_type_key_selected == '' || product_type_key_l1_selected == '' || product_type_key_l2_selected == ''">
                <img class="image-style" [src]="item.icon[0]" alt="Products" (click)="openPopup(item)">
                    <div class="product-card-body text-center" (click)="openPopup(item)">
                        {{item['Name']}}
                    </div>
            </div>
        </div>
    </div>
</div>