<div class="backImg">
    <div class="pt-3"></div>
    <div class="pageTitle py-2 text-center">
        <h1 class="pageTitleText1 d-inline">Our</h1>
        <h1 class="pageTitleText2 d-inline"> Services</h1>
    </div>
    <div class="services-content">
        <div class="services-text">
            <p class="Subtext12">
                Our constant efforts towards serving our clients in the most feasible and appropriate manner has taken us to
                the
                peak of success.
                All the information gathered from these studies are carefully documented and sent to the concerned
                department for
                product development. It is also recorded in our archives for future references.
            </p>
        </div>
        <div class="row columnTexts mx-auto">
            <p class="features-txt m-l-3">Some of our top notch features include :</p>
            <div class="col">
                <p class="feature-heading">Quality Assurance</p>
                <p class="Subtext1 text-left">We follow strict quality control policies to give our customers the
                    quality
                    products. Our adherence to ethical business practices and qualitative approach has given us an edge
                    over
                    the
                    other leading organizations. Right from the initial stage of procurement of raw material till the
                    final
                    delivery of the consignment, we undertake stringent quality control measures.</p>
            </div>
            <div class="col">
                <p class="feature-heading">Warehousing Packaging</p>
                <p class="Subtext1 text-left">Our warehousing unit has high storage capacity to stock our range of
                    Plastic
                    Crates, Pallets and Waste Bins in bulk quantity. It has been internally divided into several
                    sections to
                    facilitate an easy accommodation, access and retrieval of our Plastic Crates, Pallets and Waste
                    Bins.
                </p>
            </div>
            <div class="col">
                <p class="feature-heading">Research & Development</p>
                <p class="Subtext1 text-left">We are facilitated with Research and Development department, which is
                    supervised
                    by a team of experienced research experts. This department is equipped with all the latest tools and
                    instruments assisting us in developing our products in line with the latest advancements in the
                    industry.
                    Our research experts also aid us in enhancing the production line.</p>
            </div>
            <div class="col">
                <p class="feature-heading">Customer Satisfaction</p>
                <p class="Subtext1 text-left">Being a customer centric organization, our efforts have always been
                    directed
                    towards delivering quality products that meets the client expectations. Our constant innovation,
                    evolution
                    and a zest to introduce new and improved products has kept us in the forefront of domestic market.
                    Over
                    the
                    years we have made a long list of client base.</p>
            </div>
            <div class="col">
                <p class="feature-heading">Why Us?</p>
                <p class="Subtext1 text-left">Our constant efforts towards serving our clients in the most feasible and appropriate
                    manner has taken us to the peak of success.
                </p>
            </div>
        </div>
    </div>
</div>