@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Smooch+Sans&display=swap');

.backImg {
    background: #232526;
    background: linear-gradient(to right, #414345, #232526);
    width: 100vw;
    min-height: 100vh;
}

.pageTitle {
    margin-top: 60px;
    font-family: 'Source Serif Pro', serif;
    background: rgb(51, 51, 51);
    background: linear-gradient(90deg, rgba(51, 51, 51, 1) 0%, rgba(73, 80, 87, 1) 35%, rgba(51, 51, 51, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pageTitleText1 {
    color: #DE1616;
}

.pageTitleText2 {
    color: rgb(173, 181, 189);
}

.contact-content {
    width: 100%;
    padding-top: 15px;
    height: 40rem;
    margin: 0 !important;
}

.contact-form {
    width: 46%;
    padding: 2%;
}

.contact-input {
    padding: 12px;
    background-color: #6c757d;
    border: 1.5px solid black;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    color: #f8f9fa;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
    color: #f8f9fa;
    font-family: 'Montserrat', sans-serif;
}

.form-text {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.contact-textarea {
    display: inline-block;
    min-width: 80%;
    min-height: 35%;
    background-color: #6c757d;
    border: 1.5px solid black;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    color: #f8f9fa;
}

.area-text {
    color: #f8f9fa;
}

agm-map {
    width: 75%;
    height: 35%;
    padding: 5%;
}

.location-maps {
    width: 46%;
    padding: 2%;
}

.loc-Text {
    color: #ffffff;
    font-size: 25px;
}