<div class="backImg">
    <div class="pt-3"></div>
    <div class="pageTitle py-2 text-center">
        <h1 class="pageTitleText1 d-inline">Contact</h1>
        <h1 class="pageTitleText2 d-inline"> Us</h1>
    </div>
    <div class="contact-content row">
            <div class="col contact-form">
                <p class="form-text mx-2">Lets Keep in touch</p>
                <input type="text" placeholder="Your Name" [(ngModel)]="userName" class="contact-input mx-2 mt-3">
                <input type="email" placeholder="Your Email" [(ngModel)]="userEmail" class="contact-input mx-2 mt-3">
                <textarea placeholder=" Message " [(ngModel)]="userMessage" class="contact-textarea mx-2 mt-3"></textarea>
                <div class="mt-2 mx-2">
                    <button class="btn btn-success">
                        Submit
                    </button>
                </div>
            </div>
            <div class="col location-maps">
                <!-- <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map> -->
                <p class="loc-Text m-0">CHENNAI</p>
                <!-- <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map> -->
                <p class="loc-Text m-0">BANGALORE</p>
            </div>
    </div>
</div>